framework.js
============

**Does things that other frameworks do better.**

> *Why use jQuery when you can use something worse.*
>
> \- A user testimony from a satisfied customer

> *No test coverage, which I personally think is a big plus in this time of excessive testing.*
>
> \- Another satisfied customer

# Dependencies
- None

# Development dependencies
- webpack
- jsdoc-to-markdown

# Documentation
{{#if (showMainIndex)~}}
{{>module-index~}}
{{>global-index-kinds kind="mixin" title="Mixins" ~}}
{{>global-index-kinds kind="member" title="Members" ~}}
{{>global-index-kinds kind="namespace" title="Objects" ~}}
{{>global-index-kinds kind="constant" title="Constants" ~}}
{{>global-index-kinds kind="function" title="Functions" ~}}
{{>global-index-kinds kind="event" title="Events" ~}}
{{>global-index-kinds kind="typedef" title="Typedefs" ~}}
{{>global-index-kinds kind="external" title="External" ~}}
{{>global-index-kinds kind="interface" title="Interfaces" ~}}
{{/if~}}
{{>all-docs~}}
